# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "obligatorio-2"
environment  = "dev"

# GitHub Configuration (for Amplify)
github_token      = "your-token-here"
github_repository = "https://github.com/GuillermoDiotti/my-cloud-react-page"
app_name          = "my-cloud-react-app"
branch_name       = "main"

# Network Configuration
vpc_cidr              = "10.0.0.0/16"
public_subnet_cidr    = "10.0.1.0/24"
private_subnet_cidr   = "10.0.2.0/24"
private_subnet_2_cidr = "10.0.3.0/24"

# AI Configuration
bedrock_model_id             = "us.meta.llama3-1-8b-instruct-v1:0"
article_generation_schedule  = "rate(15 minutes)"

# CloudFront Cache Configuration
static_site_cache_ttl     = 3600
static_site_cache_max_ttl = 86400

# SNS Notifications
notification_email = "your-mail-here"